= stylesheet_link_tag 'application', :media => 'screen'
= javascript_include_tag :application
= csrf_meta_tag

%head
	%title 
		Timekeeper - Simple, flexible work time logging
	%body
		.container_12
			.grid_12_header
				%h1.branding
					= link_to 'Timekeeper', timelogs_path, :class => "simple_button"
					Simple, flexible work time logging
					
  	
			%div.clear
				&nbsp;
			%div.grid_12
				- if flash[:notice]
					%p.flashNotice
						= flash[:notice]
				- if flash[:warning]
					%p.flashWarning
						= flash[:warning]
				= yield
			%div.grid_6
			%div.grid_6
			%div.clear
				&nbsp;
			%div.site_info_grid_12
				%p.box
					&copy; thesurfingcat